<body>
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="/"><img class="image" src="assets\food-truck-chasers-logo-1500 (1).png"
              alt="food truck chasers logo"></a></li>
        <li><a href="/login">Operator Selector</a></li>
        <li><a href="/operator">Operator</a></li>
        <!-- <li><a href="#">Three</a></li> -->
      </ul>
    </div>
  </div>
  <!-- End Top Bar -->
  <div class="callout medium red">
    <div class="row column text-center">
      <h2>Fill out the form to edit your truck.</h2>
    </div>
  </div>


  <div class="row small-10 medium-8 columns im">
    <form id="editTruck">
      <label id="editLabel">Truck Name:</label>
      <input type="text" value="{{truck_name}}" aria-describedby="exampleHelpText" id="truckName">
      <label id="editLabel">Phone Number:</label>
      <input type="text" label="Phone Number" value="{{phone}}" aria-describedby="exampleHelpText" id="phoneNumber">
      <label id="editLabel">City:</label>
      <input type="text" label="City" placeholder="{{city}}" value="{{city}}" aria-describedby="exampleHelpText" id="city">
      <label id="editLabel">Category:</label>
      <input type="text" label="Food Category" placeholder="{{category}}" value="{{category}}" aria-describedby="exampleHelpText" id="fcategory">
      <label id="editLabel">Promotional Message:</label>
      <input type="text" label="Promotional Message" placeholder="{{promo_message}}" value="{{promo_message}}" aria-describedby="exampleHelpText" id="promo">
      <input type="hidden" value="{{id}}" id="truckId">
      <input type="hidden" value="{{operator_username}}" id="operator_username">
      <button type="submit" class="expanded button button-primary">Chase</button>
    </form>
  </div>

  <script src="" async defer></script>
</body>