<body>
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="/"><img class="image" src="..\assets\food-truck-chasers-logo-1500 (1).png"
              alt="food truck chasers logo"></a></li>
        <li><a href="/login">Operator Selector</a></li>

        <!-- <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li> -->
      </ul>
    </div>
  </div>
  <!-- End Top Bar -->
  <div class="callout medium red">
    <div class="row column text-center">
      <h2>Welcome {{food_trucks.0.operator_username}} to your page.</h2>
      <input type="hidden" value="{{food_trucks.0.operator_username}}" id="operator_username">
    </div>
  </div>

  <div class="row small-10 medium-8 columns im">
    <p><span> Create a new truck</span></p>
    <a href="/createTruck" class="button button-primary">Create</a>
    <p><span>You can also edit or delete an existing truck.</span></p>
    {{#each food_trucks}}
    <div>
      <ul>
        <li><span>Food Truck Name: </span>{{truck_name}}</li>
        <li><span>Location: </span>{{city}}</li>
        <li><span>Today's Special!: </span>{{promo_message}}</li>
        <li><span>Food Category: </span>{{category}}</li>
      </ul>
      <a href='/editTruck/{{id}}' target="_blank" class="button button-primary">edit</a>
      <button type="button" class="button button-primary">delete</button>
    </div>
    {{/each}}
  </div>

  <script type="text/javascript" src="../js/operator.js">


  </script>
</body>